<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <title>Finance - VCF</title>
    <style>
        .container{
            align-items: center;
            align-content: center;

        }
    </style>

</head>
<body>
   <div class="d-flex justify-content-center" style="margin: 30px;">
    <form action="/submit" method="post">
        <div class="row">
            <div class="d-flex col align-items-center">
                <div>
                    <input type="text" placeholder="Amout" name="amout">
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-12"><input type="radio" value="credit" name="type" id="type-amount"><label for="type">&ThickSpace; Credit </label></div>
                    <div class="col-12"><input type="radio" value="debit" name="type" id="type-amount"><label for="type">&ThickSpace;  Debit: </label></div>
                </div>
            </div>
            <div class="d-flex col align-items-center">
                <input type="submit" class="btn btn-primary" name="add" value="Add">
            </div>
        </div>
    </form>
   </div>
</body>
</html>